<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="InternTrainingApp" connectionString="Data Source=(local);Initial Catalog=InternTrainingApp_Test;Integrated Security=True;MultipleActiveResultSets=True;" providerName ="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>